/OperacionesBasicas/OperacionesBasicas/target/
/PromedioNotas/PromedioNotas/target/
/manejoDeLosVectores/nbproject/private/
/manejoDeLosVectores/build/
/ManejoVectores/ManejoVectores/target/
/ProyectoMVC/ProyectoMVC/target/
/ProyectoMVC - copia/ProyectoMVC/target/
/PrototipoP31P2023/ProyectoMVC/target/
/PrototipoP31P2023/PrototipoP31P2023/target/
